/* ==========================================
   TOP CATEGORY
========================================== */

.categories-section {
       padding-top: 5px;
    padding-bottom: 40px;
}

.categories-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* ==========================================
   CATEGORY CARD 
========================================== */

.category-card {

    width: 200px;
    height: 210px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    padding: 32px 20px 24px;

    background: #FFFFFF;

    border: 1px solid #E6E6E6;
    border-radius: 6px;

    text-decoration: none;

    transition: all .3s ease;
}


.category-card img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.category-card h4 {

    margin: 0;

    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    color: #1A1A1A;
}

.category-card p {

    margin: 0;

    font-size: 14px;
    line-height: 1.5;

    color: #808080;
}

.category-card:hover{

    border-color: var(--primary-color);

    box-shadow: 0 8px 24px rgba(32,181,38,.12);

    transform: translateY(-4px);
}

.category-card:hover h4{

    color: var(--primary-color);
}

/* ==========================================
   TOP CATEGORY media query
========================================== */

@media (max-width: 1199.98px) {

    .categories-grid{
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

}

@media (max-width: 767.98px) {

    .categories-grid{
        gap: 16px;
    }

    .category-card{
        width: 170px;
        height: 190px;

        padding: 24px 16px 20px;
    }

    .category-card img{
        width: 72px;
        height: 72px;
    }

    .category-card h4{
        font-size: 18px;
    }

    .category-card p{
        font-size: 14px;
    }

}

@media (max-width: 575.98px) {

    .categories-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .category-card{
        width: 100%;
    }

}