/* ==========================================
   INSTAGRAM
========================================== */

.instagram-section {
    padding: 5rem 0;
}

.instagram-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #1A1A1A;
    margin-bottom: 2.5rem;
}

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.instagram-post {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    width:100%;
}

.instagram-post img {
   width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.instagram-overlay {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .45);

    opacity: 0;

    transition: .35s;
}

.instagram-overlay i {
    color: #fff;
    font-size: 1.5rem;
}

.instagram-post:hover img {
    transform: scale(1.08);
}

.instagram-post:hover .instagram-overlay {
    opacity: 1;
}